<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to the Modification Page</h1>
    Please enter an insert/update/delete query into the textbox below to modify one of our tables.
    <p class="modify" *ngIf="modify">
        </p>
  </div>
</div>

<div class = "body" id = "content">
<br><br><br><br>

<input #query
(keyup.enter)="onClickMe(query.value)"
(blur)="onClickMe(query.value); query.value=null" id="txtbox">
<button (click)="OnClickMe(query.value)" id = "button">Submit Query</button>
<p id = "Message">{{ clickMessage }}</p>
</div>
