
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{ barName }}</h1>
    <p class="bar-details" *ngIf="barDetails">
      {{ barDetails?.city }} <span *ngIf="barDetails.city && barDetails.state">| </span>{{ barDetails ?.state }}
 <br>
      Weekday hours: {{ barDetails?.weekdayOpen }} <span *ngIf="barDetails.weekdayOpen && barDetails.weekdayClose"> to </span>{{ barDetails?.weekdayClose }}
      <br>
      Weekend hours: {{ barDetails?.weekendOpen }} <span *ngIf="barDetails.weekendOpen && barDetails.weekendClose"> to </span>{{ barDetails?.weekendClose }}

    </p>
  </div>
</div>

<div class="container">
  <h2 class="text-center font-weight-light">Menu</h2>
  <br>
  <p-table [value]="menu">
    <ng-template pTemplate="header">
      <tr>
        <th>Items</th>
        <th>ItemType</th>
        <th>Menufacturer</th>
        <th>Price</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-items>
      <tr>
        <td>{{ items.item }}</td>
        <td>{{ items.manufacturer }}</td>
        <td>{{ items.itemType }}</td>
        <td>{{ items.price | currency }}</td>
      </tr>
    </ng-template>
  </p-table>
  <br>
  <br>
</div>

<div class="popularBeersGraph">
  <br>
  <div id="popularBeersGraph"></div>
  <br><br>
</div>

<div class="largestSpendersGraph">
 <br>
 <div id="barSpendersGraph"></div>
 <br><br>
</div>

<div class="ManufacturersGraph">
 <br>
 <div id="ManufacturersGraph"></div>
 <br><br>
</div>
<div class="BarDistributionDayGraph">
 <br>
 <div id="BarDistributionDayGraph"></div>
 <br><br>
</div>
<div class="BarDistributionWeekGraph">
 <br>
 <div id="BarDistributionWeekGraph"></div>
 <br><br>
</div>


<!--
<div class="containers">
    <h1>Transaction Form</h1>
    <form (ngSubmit)="onSubmit()" #TransactionForm="ngForm">
      <label for="Tname">Name</label>
<input type="text" class="form-control" id="Tname"
       required
       [(ngModel)]="model.Tname" name="Tname"
       #Tname="ngModel">
<div [hidden]="Tname.valid || Tname.pristine"
     class="alert alert-danger">
  Name is required
</div>
<br> <br>
      <div class="form-group">
        <label for="Date Time">Date Time (Please enter in the format day:Month:year:HH:MM:SS)</label>
        <<input type="text" class="form-control" id="Ttime"
               required
               [(ngModel)]="model.Ttime" name="Ttime"
               #Ttiem="ngModel">
        <div [hidden]="Ttime.valid || Ttime.pristine"
             class="alert alert-danger">
          Time is required
        </div>
      </div>

<br> <br>

      <div class="form-group">
        <label for="items">Items (If more than one item enter in format (Ex. item1,item2,item3...) Refer to the menu above for exact spelling and capitalization</label>
        <<input type="text" class="form-control" id="Titem"
               required
               [(ngModel)]="model.Titem" name="Titem"
               #Titem="ngModel">
        <div [hidden]="Titem.valid || Titem.pristine"
             class="alert alert-danger">
          Item is required
        </div>
      </div>
<br> <br>
      <div class="form-group">
        <label for="Quantities">Quantites(Follow format and order for preview items entry (Ex. quantity1,quantity2,quantity3...)</label>
        <input type="text" class="form-control" id="Tquantities"
               required
               [(ngModel)]="model.Tquantities" name="Tquantities"
               #Tquantities="ngModel">
        <div [hidden]="Tquantities.valid || Tquantities.pristine"
             class="alert alert-danger">
          Quantity is required
        </div>
      </div>
<br> <br>
      <button type="submit" class="btn btn-success" (click) = "onSubmit(); TransactionForm.reset()">Submit</button>
      <br><br><br>
    </form>
</div> -->
