<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{ beerName }}</h1>
    <p class="beer-details" *ngIf="beerDetails">
      Made  by <i>{{ beerDetails.manufacturer }}</i>
    </p>
    </div>
  </div>

  <div class="BestSellingLocationsGraph">
   <br>
   <div id="BestSellingLocationsGraph"></div>
   <br><br>
  </div>

  <div class="TopConsumersGraph">
   <br>
   <div id="TopConsumersGraph"></div>
   <br><br>
  </div>
  <div class="BeerDistributionGraph">
   <br>
   <div id="BeerDistributionGraph"></div>
   <br><br>
  </div>
