<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{ drinkerName }}</h1>
    <p class="drinker-details" *ngIf="drinkerDetails">
      {{ drinkerDetails?.city }} <span *ngIf="drinkerDetails.city && drinkerDetails.state">| </span>{{ drinkerDetails ?.state }}
 <br>
    </p>
  </div>
</div>

<div class ="container">

  <p-table [value]="drinkerTransactions">
    <ng-template pTemplate="header">
      <tr>
        <th scope="col">Bar</th>
        <th scope="col">Transaction ID</th>
        <th scope="col">Time</th>
        <th scope="col">Total</th>
        <th scope="col">Tip</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-drinker_transaction>
      <tr>
        <td>
            {{ drinker_transaction.bar }}
        </td>
        <td>{{ drinker_transaction.transactionID  }}</td>
        <td>{{ drinker_transaction.time }}</td>
        <td>${{ drinker_transaction.total }}</td>
        <td>${{ drinker_transaction.tip }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div class="mostBeersChart">
  <br>
  <div id="mostBeersChart"></div>
  <br><br>
</div>

<div class = "body" id = "content">
<br><br><br><br>
<p id="inputMessage">Please enter a time interval in the textboxes below. Enter in the format YYYY-MM-DD.</p>
<br><br>
<input #time1 id="txtbox1">
<br><br><br><br>
<input #time2 id="txtbox2">
<br><br>
<button (click)="OnClickMe(time1.value, time2.value)" id = "button">Generate Graph</button>
<br><br>
<p id = "Message">{{ clickMessage }}</p>
</div>

<div class="DrinkersTimeChart">
  <br><br>
  <div id="DrinkersTimeChart"></div>
  <br><br>
</div>
